* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3b3b3b;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: #000 0 0 10px;
  border-radius: 20px;
  padding: 20px;
}

.main-title h1{
  margin-bottom: 20px;
  font-weight: 700;
}

.main-input input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.game-thumbnail img{
  border-radius: 10px;
  margin-bottom: 20px;
}

.game-title p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.game-description {
  width: 50%;
  text-align: center;
}

.game-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}